* {
  font-family: 'Roboto Mono', monospace;
}

.post-container {
  max-width: 650px;
  margin: 50px auto;
  background-color: #0f0f0f;
  padding: 20px;
  text-align: left;
  border-radius: 8px;
  transition: 0.3s;
}

.post-container:hover {
  max-width: 700px;
  background-color: #111;
}

.post-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-content {
  font-size: 20px;
  margin-bottom: 20px;
}

.post-author {
  font-size: 14px;
  color: #555;
}

.post-date {
  font-size: 14px;
  color: #555;
}

body {
    background-image: url(assets/background.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

h1 {
  font-size: 45px;
  color: #ffa200;
  text-decoration: underline;
}

hr {
    background-color: #555;
    border-radius: 8px;
}

.navbar {
    overflow: hidden;
    background-color: #111;
    border-radius: 8px;
  }
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 8px;
  }

  .navbar .logo {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #ffa200;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: 0.3s;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #010101;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #010101;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.3s;
  }
  
  .dropdown-content a:hover {
    background-color: #555;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  * {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

.mySlides {display:none;}

a {
  color: #ffa200;
}

a:hover {
  text-decoration: none;
}

em {
  color: gray;
}

hr {
  background-color: gray;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #111;
  border-radius: 50%;
  border-top: 16px solid #ffa200;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

footer p {
  color: #555;
}

.body {
  margin-left: 17%;
  margin-right: 17%;
  padding: 1px 16px;
  background-color: #0a0a0a;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 #0f0f0f, 0 6px 20px 0 #0f0f0f;
}

img {
  pointer-events: none;
}

.polaroid {
  width: 250px;
  text-align: center;
  background-color: #fff;
  color: #000;
}

.container {
  padding: 10px;
}

iframe {
  border-radius: 8px;
}

video {
  border-radius: 8px;
  background-color: #000;
}
